<!-- Display newsletter popup -->
<!-- Open haru main -->
<div id="haru-main">
    <header id="haru-mobile-header" class="haru-mobile-header header-mobile-1">
        <div class="haru-header-container-wrapper menu-drop-fly header-mobile-sticky">
            <div class="container haru-mobile-header-wrapper">
                <div class="haru-mobile-header-inner">
                    <!-- End Header mobile customize -->
                    <div class="header-logo-mobile">
                        <a href="#" title="logo trabalho de DB">
                            Movie DB
                        </a>
                    </div>
                </div>
                <div class="haru-mobile-menu-overlay"></div>
            </div>
        </div>
    </header>
    <header id="haru-header" class="haru-main-header header-sidebar header-desktop-wrapper header-dark">
        <div class="vertical-header-wrapper">
            <div class="header-top">
                <div class="header-logo has-logo-sticky">
                    <a href="#" class="logo-default" title="logo do trabalho com o nome Movie DB">
                        Movie DB
                    </a>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-customize header-customize-nav">
                    <div class="header-customize-item user-account-wrapper">
                        <a href="#">Login</a>
                        <a href="#">Sign Up</a>
                    </div>
                    <ul class="header-customize-item header-social-profile-wrapper">
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <div class="custom-text-wrapper header-customize-item">
                        Copyright 2018 <span>Movie DB</span><br>
                        All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="haru-modal-search" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
        <div class="modal-backdrop fade in"></div>
        <div class="haru-modal-dialog haru-modal-search fade in">
            <div data-dismiss="modal" class="haru-dismiss-modal"><i class="ion-android-close"></i></div>
            <div class="haru-search-result">
                <div class="haru-search-wrapper">
                    <form method="get" action="http://demo.harutheme.com/circle" class="search-popup-inner">
                        <input type="text" name="s" placeholder="Search for...">
                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Open HARU Content Main -->
    <div id="haru-content-main" class="clearfix">
        <main class="haru-page">
            <div class="page-content col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="page-inner clearfix">
                        <div id="post-1040" class="post-1040 page type-page status-publish hentry clearfix">
                            <div class="entry-content">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1503416552425 vc_row-has-fill">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner ">
                                                            <div class="wpb_wrapper">
                                                                <div class=" ">
                                                                    <div class="film-search-form-shortcode-wrapper search-form-ajax ">
                                                                        <!-- FILM SEARCH FORM -->
                                                                        <form role="search" method="get" id="film-searchform" class="film-searchform" action="http://demo.harutheme.com/circle">
                                                                            <div class="data-search"
                                                                                 data-current_page="http://demo.harutheme.com/circle/home-7"
                                                                                 data-columns="5"
                                                                                 data-film_style="style_1"
                                                                                 data-paging_style="loadmore"
                                                                                 data-per_page="5">

                                                                                <input type="text" value="" name="s" id="s" placeholder="Search for a Movie, Film..." />

                                                                                <select name="category" id="category">
                                                                                    <option value="-1">Todos</option>
                                                                                </select>

                                                                                <select name="sort" id="sort">
                                                                                    <option value="">Sort By</option>
                                                                                    <option value="date-desc">Newest</option>
                                                                                    <option value="date-asc">Oldest</option>
                                                                                    <option value="title-desc">Title (A-&gt;Z)</option>
                                                                                    <option value="title-asc">Title (Z-&gt;A)</option>
                                                                                    <option value="rand">Random</option>
                                                                                </select>

                                                                                <input type="hidden" name="post_type" value="haru_film" />
                                                                            </div>
                                                                        </form>
                                                                        <!-- END FILM SEARCH FORM -->
                                                                        <div class="film-content">
                                                                            <div class="film-list columns-5" id="film-content" style="position: relative; height: auto !important;">                                            
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Close HARU Content Main -->

</div>
<!-- Close haru main -->
<a class="back-to-top" href="javascript:;">
    <i class="fa fa-angle-up"></i>
</a>
<div class="haru-canvas-menu-wrapper dark">
    <a href="#" class="haru-canvas-menu-close"><i class="fa fa-close"></i></a>
    <div class="haru-canvas-menu-inner sidebar">
        <section id="media_image-2" class="widget-container widget_media_image"><img width="300" height="300" src="http://demo.harutheme.com/circle/wp-content/uploads/2017/08/willian-gallas-300x300.jpg" class="image wp-image-859  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" srcset="http://demo.harutheme.com/circle/wp-content/uploads/2017/08/willian-gallas-300x300.jpg 300w, http://demo.harutheme.com/circle/wp-content/uploads/2017/08/willian-gallas.jpg 415w" sizes="(max-width: 300px) 100vw, 300px" /></section>
    </div>
</div>
<div class="haru-ajax-overflow">
    <div class="haru-ajax-loading">
        <div class="loading-wrapper">
            <div class="spinner" id="spinner_one"></div>
            <div class="spinner" id="spinner_two"></div>
            <div class="spinner" id="spinner_three"></div>
            <div class="spinner" id="spinner_four"></div>
            <div class="spinner" id="spinner_five"></div>
            <div class="spinner" id="spinner_six"></div>
            <div class="spinner" id="spinner_seven"></div>
            <div class="spinner" id="spinner_eight"></div>
        </div>
    </div>
</div>

<script type='text/javascript' src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    class Controllers {
        _ajax(request, data, callback) {
            $.ajax({
                url: request,
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (response) {
                    callback(response)
                }
            });
        }

        buscarFilme(callback) {
            this._ajax("/Movie/SearchMovie", '', callback);
        }

        buscarCategoria(callback) {
            this._ajax("/Movie/SearchCategory", '', callback);
        }
    }


    class ViewMovie {
        constructor() {
            this.main = $("#film-content");
            this.selectGenero = $('#category');
        }

        layoutItem(item) {
            let content = $('<div class="film-item style_1">');

            function capa_filme(capa) {
                let content = $('<div class="film-image">');

                content.append('<img width="270" height="390" src="https://image.tmdb.org/t/p/w500' + capa + '" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""  sizes="(max-width: 270px) 100vw, 270px" />');
                content.append('<div class="film-icon"><a href="http://demo.harutheme.com/circle/film/red-sonja/" class="view-film-button-direct"></a></div>');
                return content;
            }

            function resumo_filme(ranking, nome, generos) {
                let content = $('<div class="film-meta">');
                let category = $('<div class="film-category">');
                
                content.append(`<div class="film-rating"><span class="point">${ranking}</span><span class="total">/10</span></div>`);
                content.append(`<h3 class="film-title"><a href="#">${nome}</a></h3>`);

                for (let i = 0; i < generos.length; i++) {
                    category.append(`<a rel="tag">${generos[i].Nome}</a> / `)
                }

                content.append(category);
                return content;
            }

            content.append(capa_filme(item.Capa));
            content.append(resumo_filme(item.Ranking, item.Nome, item.Generos));
            return content;
        }

        layoutGenero(item) {
            return `<option value="${item.Id}">${item.Nome}</option>`;
        }

        setItemContent(element) {
            this.main.append(element);
        }

        setItemGenero(element) {
            this.selectGenero.append(element);
        }
    }

    let view = new ViewMovie(),
        controllers = new Controllers();

    function addFilmes(filmes) {
        let length = filmes.length;

        console.log(filmes);

        for (let i = 0; i < length; i++) {
            let element = view.layoutItem(filmes[i]);
            view.setItemContent(element);
        }
    }

    function addGeneroFiltro(generos) {
        let length = generos.length;

        console.log(generos);

        for (let i = 0; i < length; i++) {
            let element = view.layoutGenero(generos[i]);
            view.setItemGenero(element);
        }
    }

    controllers.buscarFilme(addFilmes);
    controllers.buscarCategoria(addGeneroFiltro);
</script>